<legend>Fórum</legend>
<!-- Fóruns -->
<div>
  <ul nz-menu nzMode="horizontal" class="header-menu">
    <li nz-menu-item *ngFor="let forum of dados" (click)="recuperarDuvidas(forum)" (dblclick)="openModalEditarForum(forum)">{{forum.nome}}</li>
    <li
      nz-menu-item
      nz-tooltip="Cadastrar Tópico de Fórum"
      (click)="openForm()"
      *ngIf="isCoordenador"
    >
      <i nz-icon nzType="plus"></i>
    </li>
  </ul>
</div>

<!-- Forum Form -->
<app-forum-form
  (emitEvent)="loadForuns()"
  [openForm]="openForm$.asObservable()">
</app-forum-form>

<!-- Dúvidas -->
<app-duvida
  [forumEscolhido$]="forumEscolhido$.asObservable()"
  [hidden]="!forumEscolhido">
</app-duvida>
