<nz-table
  #duvidaTable [nzData]="dados"
  nzShowSizeChanger
  [nzLoading]="isCarregando"
  [nzFrontPagination]="false"
  [nzTotal]="totalElements"
  [(nzPageSize)]="pageSize"
  [(nzPageIndex)]="currentPage"
  (nzPageIndexChange)="carregarDuvidas()"
  (nzPageSizeChange)="carregarDuvidas(true)"
>
  <thead>
    <tr>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let duvida of duvidaTable.data">
      <td>
        <nz-comment [nzAuthor]="duvida.pessoaCadastro.nome" [nzDatetime]="duvida.dataCriado | date: 'dd/MM/yyyy HH:mm:ss'" >
          <nz-avatar nz-comment-avatar [nzText]="recuperarSigla(duvida.pessoaCadastro.nome)" class="avatar-text"></nz-avatar>
          <nz-comment-content>
            <div nz-row>
              <div nz-col [nzXs]="16" [nzSm]="18" [nzMd]="20" [nzLg]="21" [nzXl]="21" [nzXXl]="22">{{duvida.nome}}</div>
              <div nz-col [nzXs]="8" [nzSm]="6" [nzMd]="4" [nzLg]="3" [nzXl]="3" [nzXXl]="2">
                <nz-button-group>
                  <button
                    nz-button
                    nzType="primary"
                    nz-tooltip="Ver respostas"
                    (click)="carregarRespostas(duvida)"
                  ><i nz-icon nzType="eye"></i></button>
                  <button
                    nz-button
                    nzType="default"
                    [hidden]="!canEdit(duvida)"
                    nz-tooltip="Editar"
                    (click)="openForm(duvida)">
                    <i nz-icon nzType="edit"></i>
                  </button>
                  <button
                    nz-button
                    nzType="danger"
                    [hidden]="!canDelete(duvida)"
                    nz-tooltip="Apagar"
                    nz-popconfirm="Deseja realmente apagar?"
                    (nzOnConfirm)="delete(duvida)">
                    <i nz-icon nzType="delete"></i>
                  </button>
                </nz-button-group>
              </div>
            </div>
          </nz-comment-content>
          <nz-comment-action>
            <span (click)="responderDuvida(duvida)">Responder</span>
          </nz-comment-action>
          <ng-container *ngIf="isDuvidaEscolhida(duvida)">
            <app-resposta
              [duvidaEscolhida$]="duvidaEscolhida$.asObservable()">
            </app-resposta>
          </ng-container>
        </nz-comment>
      </td>
    </tr>
  </tbody>
</nz-table>
<div nz-row nzJustify="end">
  <button nz-button nzType="primary" (click)="openForm()"><i nz-icon nzType="plus"></i> Nova Dúvida</button>
</div>

<app-duvida-form
  [openForm]="openForm$.asObservable()"
  (emitEvent)="carregarDuvidas(true)"
></app-duvida-form>

<app-resposta-form
  [openForm]="respostaCadastro$.asObservable()"
  (emitEvent)="carregarRespostas($event)"
></app-resposta-form>
