<nz-modal
  [(nzVisible)]="isVisible"
  (nzOnCancel)="close()"
  [nzWidth]="'40%'"
  nzTitle="Tópico de Fórum"
>
  <nz-spin [nzSpinning]="isSalvando">
    <!-- Formulário -->
    <form nz-form nzNoColon [formGroup]="formulario" nzLayout="horizontal" (ngSubmit)="save()">
      <nz-form-item>
        <nz-form-label
          nzFor="nome"
          nzRequired
          [nzSpan]="6"
        >
          Tópico de Fórum
        </nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="Tópico é obrigatório">
          <input nz-input name="nome" formControlName="nome">
        </nz-form-control>
      </nz-form-item>
    </form>
    <!-- Rodapé -->
    <div *nzModalFooter>
      <nz-button-group>
        <button
          [hidden]="!isEditando"
          nz-button
          nzType="danger"
          nz-popconfirm="Deseja realmente apagar?"
          (nzOnConfirm)="delete()"
        >
          <i nz-icon nzType="delete"></i> Deletar
        </button>
        <button nz-button nzType="primary" (click)="save()"><i nz-icon nzType="save"></i> Salvar</button>
      </nz-button-group>
    </div>
  </nz-spin>
</nz-modal>
