@import "../../../styles/variables";

.logo {
  height: 100px;
  background: rgba(255,255,255,0.8);
  margin: 16px;
  border-radius: 10px;
}

.menu {
  background-color: @primary-color;
  color: #ffffff;
}

.submenu {
  background-color: #196C87;
  color: #ffffff;
}

::ng-deep .ant-layout-sider-trigger {
  background-color: #196C87;
}

::ng-deep .ant-menu-submenu-title:focus {
  color: #000000;
}

.header {
  padding-left: 16px;
  background-color: @secondary-color;
  h1 {
    color: #000;
  }
}

.nome-usuario {
  font-weight: bolder;
}

img {
  width: 100%;
}

nz-header {
  background: #fff;
  padding: 0;
}

nz-content {
  margin: 0 16px;
}

nz-sider {
  background-color: @primary-color;
}

.ant-layout-sider-trigger {
  background-color: #196C87 !important;
}

nz-breadcrumb {
  margin: 16px 0;
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 360px;
}

nz-footer {
  text-align: center;
}
