<nz-layout style="height: 100%">
  <nz-sider nzCollapsible [nzCollapsed]="collapsed">
    <div class="logo"><img src="assets/img/logo.png" alt="ProEIDI"/></div>
    <ul nz-menu nzMode="inline" class="menu">
      <li nz-menu-item routerLink="monitor" [hidden]="!isCoordenador" nz-tooltip="Monitores"><i nz-icon nzType="team"></i><span>Monitores</span></li>
      <li nz-submenu nzTitle="Matrícula" nzIcon="form" [hidden]="!isCoordenador">
        <ul class="submenu">
          <li nz-menu-item routerLink="periodo-matricula" nz-tooltip="Períodos de Matrículas"><i nz-icon nzType="calendar"></i>Períodos de Matrículas</li>
          <li nz-menu-item routerLink="sala" nz-tooltip="Salas"><i nz-icon nzType="home"></i>Salas</li>
          <li nz-menu-item routerLink="disciplina" nz-tooltip="Disciplinas"><i nz-icon nzType="file"></i>Disciplinas</li>
        </ul>
      </li>
      <li nz-menu-item routerLink="forum" nz-tooltip="Fóruns"><i nz-icon nzType="question"></i><span>Fóruns</span></li>
      <li nz-menu-item (click)="logout()" nz-tooltip="Sair"><i nz-icon nzType="logout"></i><span>Sair</span></li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header class="header"><h1>Olá, <span class="nome-usuario">{{(user$ | async).nome}}</span></h1></nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer>ProEIDI Web (c) Aroldo Felix</nz-footer>
  </nz-layout>
</nz-layout>
