<form nz-form [formGroup]="loginForm" class="login-form" (ngSubmit)="handleSubmit()">
  <img src="assets/img/logo.png" alt="ProEIDI"/>
  <nz-form-item>
    <nz-form-control nzErrorTip="O nome do usuário é obrigatório!">
      <nz-input-group nzPrefixIcon="user" nzSize="default">
        <input
          nz-input
          type="text"
          formControlName="login"
          placeholder="Login"
          data-cy="login"
          title="Usuário"
          size="35"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="A senha é obrigatória!">
      <nz-input-group nzPrefixIcon="lock" nzSize="default">
        <input nz-input type="password" formControlName="senha" placeholder="Senha" data-cy="senha" title="Senha"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-control>
    <button
      nz-button
      nzSize="large"
      class="login-form-button"
      [nzLoading]="loading"
      [nzType]="'primary'"
      data-cy="submit"
    >
      Entrar
    </button>
  </nz-form-control>
</form>
