@import "../../../../styles/variables";

img {
  width: 100%;
}

p {
  margin-top: 32px;
  margin-bottom: 16px;
  font-weight: bold;
  text-align: center;
}

.login-form {
  max-width: 400px;
  margin: auto;
  background-color: @white;
  padding: 48px;
  border-radius: 8px;

  .ant-form-item {
    margin-bottom: 16px;
  }

  input {
    border-radius: 1000px;
  }

  .ant-btn {
    border-radius: 64px;
  }

  .ant-btn {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
}
i .login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}
