<nz-table
  #respostaTable [nzData]="dados"
  nzShowSizeChanger
  [nzLoading]="isCarregando"
  [nzFrontPagination]="false"
  [nzTotal]="totalElements"
  [(nzPageSize)]="pageSize"
  [(nzPageIndex)]="currentPage"
  (nzPageIndexChange)="carregarRespostas()"
  (nzPageSizeChange)="carregarRespostas(true)"
>
  <thead>
  <tr>
    <td></td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let resposta of respostaTable.data">
    <td>
      <nz-comment [nzAuthor]="resposta.pessoaCadastro.nome" [nzDatetime]="resposta.dataCriado | date: 'dd/MM/yyyy HH:mm:ss'" >
        <nz-avatar nz-comment-avatar [nzText]="recuperarSigla(resposta.pessoaCadastro.nome)" class="avatar-text"></nz-avatar>
        <nz-comment-content>
          <div nz-row>
            <div nz-col [nzXs]="16" [nzSm]="18" [nzMd]="20" [nzLg]="21" [nzXl]="21" [nzXXl]="22">{{resposta.nome}}</div>
            <div nz-col [nzXs]="8" [nzSm]="6" [nzMd]="4" [nzLg]="3" [nzXl]="3" [nzXXl]="2">
              <nz-button-group>
                <button
                  nz-button
                  nzType="default"
                  [hidden]="!canEdit(resposta)"
                  nz-tooltip="Editar"
                  (click)="openForm(resposta)">
                  <i nz-icon nzType="edit"></i>
                </button>
                <button
                  nz-button
                  nzType="danger"
                  [hidden]="!canDelete(resposta)"
                  nz-tooltip="Apagar"
                  nz-popconfirm="Deseja realmente apagar?"
                  (nzOnConfirm)="delete(resposta)">
                  <i nz-icon nzType="delete"></i>
                </button>
              </nz-button-group>
            </div>
          </div>
        </nz-comment-content>
      </nz-comment>
    </td>
  </tr>
  </tbody>
</nz-table>

<app-resposta-form
  [openForm]="openForm$.asObservable()"
  (emitEvent)="carregarRespostas(true)"
></app-resposta-form>
