<legend>Salas</legend>
<form nz-form class="filter-wrapper" nzLayout="" [formGroup]="filtroForm">
  <div nz-row nzType="flex" nzJustify="center">
    <div nz-col nzLg="8" nzMd="8" nzXs="24">
      <nz-form-item>
        <nz-form-control>
          <input nz-input placeholder="Nome ou descrição" formControlName="search"/>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row nzType="flex" nzJustify="center">
    <div nz-col nzLg="8" nzMd="8" nzXs="24">
      <nz-button-group style="width: 100%">
        <button class="btn-group" nz-button nzType="primary" (click)="openForm()"><i nz-icon nzType="plus"></i>Cadastrar Sala</button>
      </nz-button-group>
    </div>
  </div>
</form>
<nz-table
  #tableSalas
  nzShowSizeChanger
  [nzData]="dados"
  [nzFrontPagination]="false"
  [nzLoading]="isCarregando"
  [nzTotal]="totalElements"
  [(nzPageSize)]="pageSize"
  [(nzPageIndex)]="currentPage"
  (nzPageSizeChange)="carregarSalas($event, true)"
  (nzPageIndexChange)="carregarSalas($event)"
>
  <thead>
  <tr>
    <th>Nome</th>
    <th>Descrição</th>
    <th>Data Criado</th>
    <th>Data Última Atualização</th>
    <th>Pessoa Cadastro</th>
    <th>Pessoa Última Atualização</th>
    <th>Ativo</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let sala of tableSalas.data">
    <td>{{sala.nome}}</td>
    <td>{{sala.descricao}}</td>
    <td>{{sala.dataCriado | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
    <td>{{sala.dataUltimaAtualizacao | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
    <td>{{sala.pessoaCadastro.nome}}</td>
    <td>{{sala.pessoaUltimaAtualizacao.nome}}</td>
    <td>{{sala.ativo ? "Sim" : "Não"}}</td>
    <td>
      <nz-button-group>
        <button
          nz-button nzType="primary" (click)="openForm(sala)">
          <i nz-icon nzType="edit"></i>
        </button>
        <button
          nz-button nzType="danger"
          [hidden]="!sala.ativo"
          nz-popconfirm nzPopconfirmTitle="Deseja realmente desativar a sala?"
          (nzOnConfirm)="desativar(sala.id)">
          <i nz-icon nzType="delete"></i>
        </button>
      </nz-button-group>
    </td>
  </tr>
  </tbody>
</nz-table>

<app-sala-form
  [openForm]="openForm$.asObservable()"
  (emitEvent)="carregarSalas(1)">
</app-sala-form>
