<nz-modal
  [(nzVisible)]="isVisible"
  (nzOnCancel)="closeModal()"
  [nzWidth]="'60%'"
  nzTitle="Nova Dúvida"
>
  <nz-spin [nzSpinning]="isSalvando">
    <!-- Formulário -->
    <form nz-form [formGroup]="formulario" nzNoColon nzLayout="horizontal">
      <nz-form-item>
        <nz-form-label
          nzFor="nome"
          nzRequired
          [nzSpan]="6"
        >
          Dúvida
        </nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="A dúvida é obrigatória">
          <textarea nz-input name="nome" formControlName="nome" rows="4"></textarea>
        </nz-form-control>
      </nz-form-item>
    </form>
    <!-- Rodapé -->
    <div *nzModalFooter>
      <nz-button-group>
        <button
          nz-button
          [hidden]="!isEditando"
          nzType="danger"
          (click)="delete()"
          nz-popconfirm="Deseja realmente apagar?"
          (nzOnConfirm)="delete()">
          <i nz-icon nzType="delete"></i> Apagar
        </button>
        <button
          nz-button
          nzType="primary"
          (click)="save()">
          <i nz-icon nzType="save"></i> Salvar
        </button>
      </nz-button-group>
    </div>
  </nz-spin>
</nz-modal>
