<div nz-row class="papel-select text-center" [ngStyle]="{overflowY:'auto'}">
  <div nz-col class="bg-white p4 d-flex flex-column">
    <h3>Escolher Papel</h3>
    <small>Você está vinculado a mais de um papel.</small>

    <nz-card class="p3 border-0 bg-white">
      <div
        class="rounded d-flex flex-column"
        nz-col nz-card-grid
        nzHoverable
        [ngStyle]="{textAlign:'center', width:'100%'}"
        *ngFor="let papel of papeis"
        (click)="selecionarPapel(papel)"
      >
        <span class="w-100 font-weight-bold">{{papel.nome}}</span>
      </div>
    </nz-card>
    <div>
      <button nz-button nzType="outline" (click)="logout()" type="button">Sair</button>
    </div>
  </div>
</div>
