@import "../../../../styles/variables";

.papel-select {
  margin: auto;
  background-color: @white;
  border-radius: 8px;

  .ant-form-item {
    margin-bottom: 16px;
  }

  &::-webkit-scrollbar {
    width: 16px;
  }

  &::-webkit-scrollbar-thumb {
    border: 4px solid rgba(0 ,0, 0, 0);
    background-clip: padding-box;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.15);
  }

  h3 {
    font-size: 1.6rem;
  }
  .ant-input,
  .ant-btn {
    border-radius: 64px;
  }

  .ant-btn {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
}

.bg-white {
  background-color: white;
}

.text-center {
  text-align: center;
}

.p3 {
  padding: 8px 0;
}

.p4 {
  padding: 16px;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.border-0 {
  border: 0;
}

.rounded {
  border-radius: 10px;
}

.w-100 {
  width: 100%;
}

.font-weight-bold {
  font-weight: 800;
}
