<form nz-form class="filter-wrapper" nzLayout="" [formGroup]="filtroForm">
  <div nz-row nzType="flex" nzJustify="center">
    <div nz-col nzLg="8" nzMd="8" nzXs="24">
      <nz-form-item>
        <nz-form-control>
          <input nz-input placeholder="Nome ou CPF" formControlName="search"/>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row nzType="flex" nzJustify="center">
    <div nz-col nzLg="8" nzMd="8" nzXs="24">
      <nz-button-group style="width: 100%">
        <button class="btn-group" nz-button nzType="default"><i nz-icon nzType="file"></i>Exportar Monitores</button>
        <button class="btn-group" nz-button nzType="primary" (click)="openForm()"><i nz-icon nzType="plus"></i>Cadastrar Monitor</button>
      </nz-button-group>
    </div>
  </div>
</form>
<nz-table
  #tableMonitores
  nzShowSizeChanger
  [nzData]="dados"
  [nzFrontPagination]="false"
  [nzLoading]="isCarregando"
  [nzTotal]="totalElements"
  [nzPageSize]="pageSize"
  [nzPageIndex]="currentPage"
  (nzPageSizeChange)="pageFiltroChange($event, true)"
  (nzPageIndexChange)="pageFiltroChange($event)"
>
  <thead>
    <tr>
      <th>Nome</th>
      <th>CPF</th>
      <th>Data de Nascimento</th>
      <th>Email</th>
      <th>Telefones</th>
      <th>Pessoa Cadastro</th>
      <th>Data Criado</th>
      <th>Ativo</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let monitor of tableMonitores.data">
      <td>{{monitor.nome}}</td>
      <td>{{monitor.cpf}}</td>
      <td>{{monitor.dataNascimento | date: 'dd/MM/yyyy'}}</td>
      <td>{{monitor.email}}</td>
      <td>{{recuperarTelefones(monitor.telefones)}}</td>
      <td>{{monitor.pessoaCadastro.nome}}</td>
      <td>{{monitor.dataCriado | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
      <td>{{monitor.ativo ? 'Sim' : 'Não'}}</td>
      <td>
        <nz-button-group>
          <button
            nz-button [hidden]="!monitor.ativo" (click)="openForm(monitor)" nzType="primary">
            <i nz-icon nzType="edit"></i>
          </button>
          <button
            nz-button [hidden]="!monitor.ativo" nzType="danger"
            nz-popconfirm nzPopconfirmTitle="Deseja realmente desativar o monitor?"
            (nzOnConfirm)="deletar(monitor.id)">
            <i nz-icon nzType="delete"></i>
          </button>
          <button
            nz-button [hidden]="monitor.ativo" nzType="primary"
            nz-popconfirm nzPopconfirmTitle="Deseja realmente ativar o monitor?"
            (nzOnConfirm)="reativar(monitor.id)">
            <i nz-icon nzType="check"></i>
          </button>
        </nz-button-group>
      </td>
    </tr>
  </tbody>
</nz-table>

<app-monitor-form
  [openForm]="openForm$.asObservable()"
  (emitEvent)="pageFiltroChange(1)"
></app-monitor-form>
