<nz-drawer
  nzTitle="Cadastrar Monitor"
  [nzVisible]="isVisible"
  [nzWidth]="'50%'"
  (nzOnClose)="close()"
>
  <nz-spin [nzSpinning]="isSalvando">
    <form nz-form nzLayout="horizontal" nzNoColon [formGroup]="formulario">
      <nz-form-item>
        <nz-form-label nzSpan="6" nzFor="nome" nzRequired>Nome</nz-form-label>
        <nz-form-control nzSpan="14" [nzErrorTip]="campoRequiredErrorTpl">
          <input nz-input formControlName="nome" placeholder="Nome do Monitor"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzSpan="6" nzFor="dataNascimento" nzRequired>Data de Nascimento</nz-form-label>
        <nz-form-control nzSpan="14" [nzErrorTip]="campoRequiredErrorTpl">
          <nz-date-picker formControlName="dataNascimento" [required]="true" nzFormat="dd/MM/yyyy"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzSpan="6" nzFor="cpf">CPF</nz-form-label>
        <nz-form-control nzSpan="14">
          <input nz-input formControlName="cpf" minlength="14" maxlength="14" placeholder="XXX.XXX.XXX-XX"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzSpan="6" nzFor="rg">RG</nz-form-label>
        <nz-form-control nzSpan="14">
          <input nz-input formControlName="rg" minlength="11" maxlength="11" placeholder="XXX.XXX.XXX"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzSpan="6" nzFor="email">E-mail</nz-form-label>
        <nz-form-control nzSpan="14">
          <input nz-input formControlName="email" placeholder="nome@email.com"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzSpan="6" nzFor="usuario" nzRequired>Usuário</nz-form-label>
        <nz-form-control nzSpan="14" [nzErrorTip]="campoRequiredErrorTpl">
          <input nz-input formControlName="usuario" placeholder="Usuario"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item [hidden]="isEditando">
        <nz-form-label nzSpan="6" nzFor="senha" nzRequired>Senha</nz-form-label>
        <nz-form-control nzSpan="14" [nzErrorTip]="campoRequiredErrorTpl">
          <input nz-input formControlName="senha" type="password" placeholder="Senha"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzSpan="6" nzFor="permissaoCoordenador">Permissão de Coordenador</nz-form-label>
        <nz-form-control nzSpan="14">
          <nz-switch formControlName="permissaoCoordenador"></nz-switch>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzSpan="6" nzFor="telefone">Telefone</nz-form-label>
        <nz-form-control nzSpan="14">
          <nz-input-group nzSearch [nzAddOnAfter]="bottaoAddTelefone">
            <input nz-input formControlName="telefone" minlength="14" maxlength="15" placeholder="(XX) XXXXX-XXXX"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <div *ngIf="!!telefones" nz-col nzLg="24" nzMd="24" nzXs="24">
          <div *ngFor="let tel of telefones" class="telefone">
            {{tel}}<button style="margin: 0 0 5px 5px" nz-button nz-popconfirm nzPopconfirmTitle="Deseja realmente apagar?" (nzOnConfirm)="deleteTelefone(tel)" nzType="danger"><i nz-icon nzType="delete"></i></button>
          </div>
        </div>
      </nz-form-item>
    </form>
    <!-- Botões -->
    <div nz-row nzJustify="end">
      <nz-button-group>
        <button nz-button nzType="danger" [hidden]="!isEditando" nz-popconfirm nzPopconfirmTitle="Deseja realmente desativar?" (nzOnConfirm)="deletar()"><i nz-icon nzType="delete"></i> Desativar</button>
        <button nz-button nzType="primary" (click)="salvar()"><i nz-icon nzType="save"></i> Salvar</button>
      </nz-button-group>
    </div>
  </nz-spin>
</nz-drawer>

<ng-template #campoRequiredErrorTpl let-control>
  <small *ngIf="control.hasError('required')">
    Campo requerido
  </small>
  <small *ngIf="!control.hasError('required')">
    !Campo requerido
  </small>
</ng-template>

<ng-template #bottaoAddTelefone>
  <button nz-button nzType="primary" (click)="addTelefone()" nzSearch><i nz-icon nzType="plus"></i></button>
</ng-template>
