<nz-modal
  [(nzVisible)]="isVisible"
  (nzOnCancel)="close()"
  [nzWidth]="'30%'"
  nzTitle="Novo Período de Matrícula"
>
  <nz-spin [nzSpinning]="isSalvando">
    <form nz-form [formGroup]="formulario" nzNoColon nzLayout="horizontal">
      <nz-form-item>
        <nz-form-label nzRequired nzSpan="10">
          Data de Início
        </nz-form-label>
        <nz-form-control>
          <nz-date-picker nzFormat="dd/MM/yyyy" formControlName="dataInicio" nzPlaceHolder="Data de Início"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired nzSpan="10">
          Data de Término
        </nz-form-label>
        <nz-form-control>
          <nz-date-picker nzFormat="dd/MM/yyyy" formControlName="dataFim" nzPlaceHolder="Data de Término"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </form>
    <!-- Rodapé -->
    <div *nzModalFooter>
      <button
        nz-button
        nzType="primary"
        (click)="save()">
        <i nz-icon nzType="save"></i> Salvar
      </button>
    </div>
  </nz-spin>
</nz-modal>
