<legend>Períodos de Matrículas</legend>
<div nz-row class="filter-wrapper" nzType="flex" nzJustify="center">
  <div nz-col nzLg="8" nzMd="8" nzXs="24">
    <nz-button-group style="width: 100%">
      <button class="btn-group" nz-button nzType="primary" (click)="openForm()"><i nz-icon nzType="plus"></i>Cadastrar Período de Matrícula</button>
    </nz-button-group>
  </div>
</div>
<nz-table
  #tablePeriodos
  nzShowSizeChanger
  [nzData]="dados"
  [nzFrontPagination]="false"
  [nzLoading]="isCarregando"
  [nzTotal]="totalElements"
  [nzPageSize]="pageSize"
  [nzPageIndex]="currentPage"
  (nzPageSizeChange)="pageFiltroChange($event, true)"
  (nzPageIndexChange)="pageFiltroChange($event)"
>
  <thead>
  <tr>
    <th>Data Início</th>
    <th>Data Fim</th>
    <th>Data Criado</th>
    <th>Data Última Atualização</th>
    <th>Pessoa Cadastro</th>
    <th>Pessoa Última Atualização</th>
    <th>Ativo</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let periodo of tablePeriodos.data">
    <td>{{periodo.dataInicio | date: 'dd/MM/yyyy'}}</td>
    <td>{{periodo.dataFim | date: 'dd/MM/yyyy'}}</td>
    <td>{{periodo.dataCadastro | date: 'dd/MM/yyyy'}}</td>
    <td>{{periodo.dataUltimaAtualizacao | date: 'dd/MM/yyyy'}}</td>
    <td>{{periodo.pessoaCadastro.nome}}</td>
    <td>{{periodo.pessoaUltimaAtualizacao.nome}}</td>
    <td>{{periodo.ativo ? 'Sim' : 'Não'}}</td>

    <td>
      <nz-button-group>
        <button
          nz-button nzType="primary" (click)="openForm(periodo)">
          <i nz-icon nzType="edit"></i>
        </button>
        <button
          nz-button nzType="danger"
          [hidden]="!periodo.ativo"
          nz-popconfirm nzPopconfirmTitle="Deseja realmente desativar o período de matrícula?"
          (nzOnConfirm)="desativar(periodo.id)">
          <i nz-icon nzType="delete"></i>
        </button>
      </nz-button-group>
    </td>
  </tr>
  </tbody>
</nz-table>

<app-periodo-matricula-form
  [openForm]="openForm$.asObservable()"
  (emitEvent)="pageFiltroChange(1)"
></app-periodo-matricula-form>
