<legend>Disciplinas</legend>
<form nz-form class="filter-wrapper" nzLayout="" [formGroup]="filtroForm">
  <div nz-row nzType="flex" nzJustify="center">
    <div nz-col nzLg="8" nzMd="8" nzXs="24">
      <nz-form-item>
        <nz-form-control>
          <input nz-input placeholder="Nome ou descrição" formControlName="search"/>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row nzType="flex" nzJustify="center">
    <div nz-col nzLg="8" nzMd="8" nzXs="24">
      <nz-button-group style="width: 100%">
        <button class="btn-group" nz-button nzType="primary" (click)="openForm()"><i nz-icon nzType="plus"></i>Cadastrar Disciplina</button>
      </nz-button-group>
    </div>
  </div>
</form>
<nz-table
  #tableSalas
  nzShowSizeChanger
  [nzData]="dados"
  [nzFrontPagination]="false"
  [nzLoading]="isCarregando"
  [nzTotal]="totalElements"
  [(nzPageSize)]="pageSize"
  [(nzPageIndex)]="currentPage"
  (nzPageIndexChange)="carregarDados($event)"
  (nzPageSizeChange)="carregarDados($event, true)"
>
  <thead>
  <tr>
    <th>Nome</th>
    <th>Descrição</th>
    <th>Carga Horária</th>
    <th>Data Criado</th>
    <th>Data Última Atualização</th>
    <th>Pessoa Cadastro</th>
    <th>Pessoa Última Atualização</th>
    <th>Ativo</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let disciplina of tableSalas.data">
    <td>{{disciplina.nome}}</td>
    <td>{{disciplina.descricao}}</td>
    <td>{{disciplina.cargaHoraria}}</td>
    <td>{{disciplina.dataCriado | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
    <td>{{disciplina.dataUltimaAtualizacao | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
    <td>{{disciplina.pessoaCadastro.nome}}</td>
    <td>{{disciplina.pessoaUltimaAtualizacao.nome}}</td>
    <td>{{disciplina.ativo ? "Sim" : "Não"}}</td>
    <td>
      <nz-button-group>
        <button
          nz-tooltip="Editar disciplina"
          nz-button nzType="primary" (click)="openForm(disciplina)">
          <i nz-icon nzType="edit"></i>
        </button>
        <button
          nz-button nzType="danger"
          nz-tooltip="Desativar disciplina"
          [hidden]="!disciplina.ativo"
          nz-popconfirm nzPopconfirmTitle="Deseja realmente desativar a sala?"
          (nzOnConfirm)="desativar(disciplina.id)">
          <i nz-icon nzType="delete"></i>
        </button>
      </nz-button-group>
    </td>
  </tr>
  </tbody>
</nz-table>

<app-disciplina-form
  [openForm]="openForm$.asObservable()"
  (emitEvent)="carregarDados(1)">
</app-disciplina-form>
