@import "../../../styles/variables";

.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  background: #f0f2f5;
  background-image: linear-gradient(rgba(@primary-color, 0.7), rgba(@primary-color, 0.7)), url("/assets/img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
