<nz-modal
  [(nzVisible)]="isVisible"
  (nzOnCancel)="close()"
  [nzWidth]="'60%'"
  nzTitle="Nova Sala"
>
  <nz-spin [nzSpinning]="isSalvando">
    <!-- Formulário -->
    <form nz-form [formGroup]="formulario" nzNoColon nzLayout="horizontal">
      <nz-form-item>
        <nz-form-label
          nzFor="nome"
          nzRequired
          [nzSpan]="6"
        >
          Nome
        </nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="O nome é obrigatório">
          <input nz-input name="nome" formControlName="nome"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label
          nzFor="descricao"
          nzRequired
          [nzSpan]="6"
        >
          Descrição
        </nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="A descrição é obrigatória">
          <textarea nz-input name="descricao" formControlName="descricao" rows="4"></textarea>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label
          nzFor="cargaHoraria"
          nzRequired
          [nzSpan]="6"
        >
          Carga Horária
        </nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="A carga horária é obrigatória">
          <nz-input-number formControlName="cargaHoraria" nzMin="1"></nz-input-number>
        </nz-form-control>
      </nz-form-item>
    </form>
    <!-- Rodapé -->
    <div *nzModalFooter>
      <nz-button-group>
        <button
          nz-button
          [hidden]="!isEditando"
          nzType="danger"
          nz-popconfirm="Deseja realmente desativar?"
          (nzOnConfirm)="desativar()">
          <i nz-icon nzType="delete"></i> Desativar
        </button>
        <button
          nz-button
          nzType="primary"
          (click)="save()">
          <i nz-icon nzType="save"></i> Salvar
        </button>
      </nz-button-group>
    </div>
  </nz-spin>
</nz-modal>
