/* You can add global styles to this file, and also import other style files */
@import "styles/variables";

.filter-wrapper {
  padding: 16px;
  border-bottom: @border-width-base @border-style-base @border-color-base;
  background: @background-color-base;
}
